<head><script src="https://kit.fontawesome.com/cc0776e5fd.js" crossorigin="anonymous"></script></head>

<div class="big-box">
  <div class="numbers m-3 p-3">
    <% colour = ['n-pippin', 'n-old_lace', 'n-black', 'n-white'] %>

    <div class="row quarter">
      <div class="col-12 col-md-6 number-card">
        <div class="number-inner <%= "#{colour.sample}" %>">
          <h1 style="font-size:12vw;">17</h1>
          <div class="number-infos">
            <i class="fas fa-user-graduate"></i><p>amazing students that are now Data Scientists!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 number-card">
        <div class="row h-100">
          <div class="col-12 mb-2">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:3vw;">588Gi</h1>
              <div class="number-infos">
                <i class="fas fa-weight-hanging"></i><p>aggregated size of containers you created</p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:3vw;">67</h1>
              <div class="number-infos">
                <i class="fas fa-abacus"></i></i><p>highest ticket count on one single day</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row quarter">
      <div class="col-12 col-md-5 number-card">
        <div class="row h-100">
          <div class="col-12 mb-2">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:4vw;">68</h1>
              <div class="number-infos">
                <i class="fas fa-gamepad-alt"></i><p>sessions in total</p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:4vw;">128,433</h1>
              <div class="number-infos">
                <i class="fas fa-sync-alt"></i><p>models unsuccessfully trained on GCP</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 number-card">
        <div class="number-inner <%= "#{colour.sample}" %>">
          <h1 style="font-size:10vw;">1964</h1>
          <div class="number-infos">
            <i class="fas fa-ticket-alt"></i><p>tickets opened during the bootcamp</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row quarter">
      <div class="col-12">

      </div>
    </div> -->

    <div class="row quarter">
      <div class="col-12 col-md-4 number-card">
        <div class="row h-100">

          <div class="col-12 col-md-6" id="numbers-xtra-mb">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:4vw;">1</h1>
              <div class="number-infos">
                <i class="fas fa-siren-on"></i><p>aboslute pub quiz master</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="number-inner <%= "#{colour.sample}" %> h-100">
              <h1 style="font-size:4vw;">5</h1>
              <div class="number-infos">
                <i class="fas fa-laptop-code"></i><p>kick-ass projects shipped</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 number-card">
        <div class="number-inner <%= "#{colour.sample}" %>">
          <h1 style="font-size:9vw;">24</h1>
          <div class="number-infos">
            <i class="fas fa-ballot-check"></i><p>weeks without weekends</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 number-card">
        <div class="number-inner <%= "#{colour.sample}" %>">
          <h1 style="font-size:10vw;">1</h1>
          <div class="number-infos">
            <i class="fas fa-glass-cheers"></i><p>f**king huge party we'll have very soon</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
